#
# The MySQL database server configuration file.
#
# You can copy this to one of:
# - "/etc/mysql/my.cnf" to set global options,
# - "~/.my.cnf" to set user-specific options.
# 
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

#
# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#

!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/

[mysqld]
# スロークエリログを有効化
slow_query_log = 1

# スロークエリログの出力先ファイル
slow_query_log_file = /var/log/mysql/slow.log

# スロークエリのしきい値（秒）
long_query_time = 2

# インデックスが使用されていないクエリもログに記録する（任意）
log_queries_not_using_indexes = 1

# ユーザーに関連する情報を含める
log_throttle_queries_not_using_indexes = 10
